body {
    font-family: Arial, sans-serif;
    background-image: url('/static/images/loginbackground.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    color: white;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
  }
  
  .recipe-details {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
  }
  
  .recipe-details h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
    color: black;
  }
  
  .recipe-details p {
    font-size: 16px;
    line-height: 1.5;
    color: black;
  }
  
  .recipe-details img {
    max-width: 100%;
    max-height: 300px;
    width: auto;
    height: auto;
    border-radius: 5px;
    display: block;
    margin: 0 auto; /* Centers the image horizontally */
    margin-bottom: 20px;
  }
  
  .recipe-instructions {
    margin-top: 20px;
    color: black;
  }
  
  /* Add more styles as needed */
  